@import "tailwindcss";

@font-face {
  font-family: "Jaini";
  src: url("/fonts/jaini.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Amatic SC";
  src: url("/fonts/Amatic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Cormorant Garamond";
  src: url("/fonts/Cormorant.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-jaini: "Jaini", sans-serif;
  --font-amatic: "Amatic SC", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-cormorant: "Cormorant Garamond", sans-serif;
}

.font-jaini {
  font-family: var(--font-jaini);
}
.font-amatic {
  font-family: var(--font-amatic);
}
.font-inter {
  font-family: var(--font-inter);
}
.font-cormorant {
  font-family: var(--font-cormorant);
}
.about-us {
  background-image: url('/MaskBg.png');
  background-size: cover;
  background-position: center;
  position: relative;
}

.banner {
  background-image: url('/bannerBg.png');
  background-size: cover;
  position: relative;
  background-position: center;    
}
.Spa {
  background-image: url('/SpaBg.png');
  background-size: cover;
  position: relative;
  background-position: center;    
}

/* removes unnecessary horizontal scrollbars */
html,
body {
  overflow-x: hidden;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1); /* Makes it white */
  cursor: pointer;
}

/* globals.css */
@media (max-width: 768px) {
  .cursor {
    display: none;
  }
}
